{% extends 'base.html' %}

{% block content %}

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>Trending</h2>
      <span>Last Updated:<p id="myIdOne"></p> 
      	<script type="text/javascript">
      		function showDate(){
      			var date = new Date();
      			var dateUpdate = date.getDate();
      			var monthUpdate = date.getMonth();
      			monthUpdate = parseInt(monthUpdate)
      			var realMonth = monthUpdate + 1;
      			var	yearUpdate = date.getFullYear();


      			var showUpdateDate = dateUpdate + "/" + realMonth + "/" + yearUpdate ;
      			document.getElementById('myIdOne').innerHTML = showUpdateDate;
      		}
      		showDate()
      	</script>
      </span>
      <div><img src="static/images/mrz2.jpg" style="height: 100px; width: auto;"></div>
      <p>Some text about mirzapur season 2</p>
      <h3>Follow us on</h3>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">Instagram</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Twitter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Linked In</a>
        </li>

      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>Mirzapur Season 2</h2>
      <h5>Release date, 23 October 2020</h5>
      <div ><img src="static/images/mrz2.jpg" style="height: auto; width: 450px;"></div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <br>
      <h5>SEASON TWO EPISODE ONE</h5>
      <div>
        <iframe src="{{ video_source }}" width="100%" height="{{ videoHeight }}"></iframe>
		<br><br>
		<center><span><a href="/collection"> ALL EPISODES </a></span></center>
      	<br><br>
      </div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
  </div>
</div>

{% endblock %}
